@import './varible';

@mixin flex(){
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

@mixin font($font_family, $size) {
    font-family: $font_family;
    font-size: $size;
}