// Main colors
$nav_color:rgb(200, 160, 25);
$head_color: red;
$main_color: grey;
$background_color: #2e2e1f;

// Font colors and just fonts
$text_color: black;

// Other
$main_height: 350px;

// Colors for the mini animation
$first_color: red;
$second_color: yellow;
$third_color: orange;
$fourth_color: purple;
$fifth_color: blue;