@import './varible';
@import './function';
// Glöm inte att du måste starta sass plugin:en
body {
    background-image: url("../client/comradepingu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.con {
    .head {
        @include flex();
        @include MainMargin();
        @include animationDuration();
        @include multiColor();
        height: $main_height;
        background-color: $head_color;
        h1 {
            @include font(serif,
            50px);
        }
        img {
            width: 400px;
            height: 200px;
        }
    }
    .nav {
        @include MainMargin();
        background-color: #333;
        overflow: hidden;
        a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px 14px 16px;
            text-decoration: none;
            font-size: 17px;
            &:hover {
                background-color: #ddd;
                color: black;
            }
        }
    }
    .main {
        @include flex();
        @include MainMargin();
        @include font(serif,
        30px);
        height: $main_height;
        background-color: $main_color;
        img {
            width: 400px;
            height: 200px;
        }
        form {
            width: 200px;
            height: 200px;
            margin: auto;
            background: $main_color;
        }
    }
    .footer {
        @include flex();
        @include MainMargin();
        height: 200px;
        button {
            @include font(serif,
            20px);
        }
    }
}

// For the login and registration
.h1 {
    @include MainMargin();
}

.login {
    margin: auto;
    width: 10%;
    height: 10%;
    padding: 5px;
    background-color: $main_color;
}

.back_to_home {
    @include MainMargin();
}